html,
body {
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}

.cover-inner {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.c-btn {
    opacity: 0.5;
}

.c-btn:hover {
    opacity: 1.0;
}

section#cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/header.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#navbar,
#navbar li a {
    background-color: transparent !important;
    color: #fff;
    font-weight: bold;
    transition: background-color 200ms linear;
}

#navbar.scrolled,
#navbar.scrolled li a {
    background-color: rgb(223,116,38) !important;
    color: #fff;
    transition: background-color 200ms linear;
}

.nav-link:hover,
.active {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: transform 5s ease-out 100ms;
}

.card-cover:hover {
    transform: scale(1.2);
}